body{
	margin: 0px;
	padding: 0px;
	max-width: 100vw;
	max-height: 100vh;	
	overflow: hidden;
}

#App{
	display: grid;
	grid-template-rows: 1fr 11fr;
	grid-template-columns: 1fr 1fr;
	background-color: #6C8F32;	
	max-width: 100vw;
	max-height: 100vh;
	font-family: 'Courier New', Courier, monospace;
	margin: 0px;
	padding: 0px;
}

#logo{
	height: 14vh;
}

#headertext{
	font-size: 9vh;
	color: #6C8F32;
	margin-top:1vh;
	margin-bottom:1vh;
}

#header{
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 2;

	background-color: rgba(255, 255, 255, 0.9);
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	border-bottom: 0.75vw solid rgba(170, 71, 31, 1);

}

#dataform{
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-end: 3;

	margin-top: 2vh;
	margin-bottom: 2vh;
	margin-left: 1vw;
	margin-right: 1vw;

	padding: min(2vh,2vw);

	border-radius: 5vw;
	background-color: rgba(255, 255, 255, 0.9);
	
	display: flex;
	flex-direction: column;
	align-items:flex-start;
	justify-content: space-evenly;

	color: rgba(170, 71, 31, 1);
}

#dataform > h2{
	font-size: 3.25vh;
	font-weight: 900;
	color: rgba(170, 71, 31, 1);
	margin-bottom: 0.1vh;
}

#dataform > span{
	font-size: 1.5vh;
	font-weight: 900;
	color: rgba(170, 71, 31, 1);
	margin: 0.25vh
}

#dataform > span > input{
	font-weight: 900;
	width: 25vw;
	color: rgba(170, 71, 31, 1);
}
#dataform > span > input[type=radio]{
	font-weight: 900;
	width: 1vw;
	color: rgba(170, 71, 31, 1);
}
#dataform > span > input::placeholder{
	font-size: 1.5vh;
	color: rgba(170, 71, 31, 0.7);
	font-family: 'Courier New', Courier, monospace;
}

#dataform > span > label{
	font-size: 1.5vh;
	font-weight: 900;
	color: rgba(170, 71, 31, 1);
	font-family: 'Courier New', Courier, monospace;
}

#submitbutton{
	align-self: center;
	margin-top: 1.5vh;
	font-size: 1.7vh;
	font-weight: 900;
	color: rgba(170, 71, 31, 1);
	transition: all .2s ease-in-out; 
	font-family: 'Courier New', Courier, monospace;

}

#submitbutton:hover{
	transform: scale(1.2); 
}



#prediction{
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 3;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

#alwayspred{	
	color: rgba(255, 255, 255, 0.9);
	font-size: 7vh;
	font-weight: 900;

	margin-left: 4vw;
	margin-right: 4vw;
}

#valuepred{	
	color: rgba(255, 255, 255, 0.9);
	font-size: 30vh;
	font-weight: 900;
	letter-spacing: 0em;
}
